body 
{
   font-size: 16px;
   font-family: arial, helvetica, sans-serif;
   padding: 0.5em;
   margin: 1em;
   font-family: arial, helvetica, sans-serif; 
   background-image: url(gramadeg_clouds_top.png); 
   background-repeat: repeat-x; 
   background-position:right top;
}

h1 
{
   font-size: 18px;
   color: blue;
}

.en 
{
   color: #000;
}

.cy
{
   color: #0a0;
}



.content 
{
   margin: 1em;
   padding: 2em;
}